body{
    background-image: url('../Fotos/background.jpg') ;
    background-size: cover; /* Cobre toda a área da div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
}

.container {
   
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form {
    padding: 3px;
}

.input-group {
    display: flex;
    flex-direction: column; /* Mudar para coluna para manter os campos empilhados */
}

.form-group {
    width: 100%; /* Garante que cada grupo de formulário ocupe 100% da largura */
    margin-bottom: 1rem; /* Adiciona espaço entre os campos */
}

.Cadastrar button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}
