body{
    background-image: url('../Fotos/background.jpg') ;
    background-size: cover; /* Cobre toda a área da div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #33cff7; /* Cor para o título dos cursos */
}

/* Botão detalhes estilizado */
.btn-info {
    background-color: #33cff7;
    border: none;
    color: white;
}

.btn-info:hover {
    background-color: #2aa3bf;
}

/* Responsividade */
@media (max-width: 768px) {
    .cards {
        justify-content: center;
    }

    .card {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .cards {
        max-width: 1400px;
    }
}
.container h1{
    color: white;
}