body{
    background-image: url('../Fotos/background.jpg') ;
    background-size: cover; /* Cobre toda a área da div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    margin: 0; /* Remove qualquer margem do body */
    padding: 0; /* Remove qualquer padding do body */
    min-height: 100vh;
}