.cards {
    gap: 20px;
    /* Espaçamento entre os cards */
}

.carousel-item img {
    object-fit: cover;
    height: 500px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    /* Ícones ficam visíveis em fundos escuros */
}